{% extends "base.html" %}

{% block content %}

<h1>Edit series</h1>
<br>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ show }}
  </p>
  <p>
      {{ form.watching(class_="checkbox-inline") }} Watching
  </p>
  <p>
      {{ form.finished(class_="checkbox-inline",disabled="disabled") }} Finished
  </p>

  <button class="btn btn-sm btn-success" type="submit" name="btn" value="save">Save</button>
  <button class="btn btn-sm btn-danger" type="submit" name="btn" value="cancel">Cancel</button>
</form>

{% endblock %}