{% extends "base.html" %}
{%  block content %}

        <h3>Welcome to Flask!</h3>
        <br>

        <!--<div class="jumbotron">-->
        <div class="panel panel-default">
            <div class="panel-heading">stuff</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <strong>Title</strong>
                    </div>
                    <div class="col-xs-2">
                        <strong>Watching</strong>
                    </div>
                    <div class="col-xs-2">
                        <strong>Finished</strong>
                    </div>
                </div>
                {% for show in shows %}
                    <div class="row">
                        <div class="col-xs-6">
                          {{ show.title }}
                        </div>
                        <div class="col-xs-2">
                            {% if show.watching %}
                           <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2">
                           {% if show.finished %}
                           <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2">
                            <a href="{{ url_for('home.edit',show=show.title) }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        <!--</div>-->
            <p>Click <a href="/logout">here</a> to logout.</p>



{% endblock %}