{% extends "base.html" %}
{%  block content %}

        <h1>Welcome to Flask!</h1>
        <br>

        <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6">
                <strong>Title</strong>
            </div>
            <div class="col-xs-3">
                <strong>Watching</strong>
            </div>
            <div class="col-xs-3">
                <strong>Finished</strong>
            </div>
        </div>
        {% for show in shows %}
            <div class="row">
                <div class="col-xs-6">
                  {{ show.title }}
                </div>
                <div class="col-xs-3">
                   {{ show.watching }}
                </div>
                <div class="col-xs-3">
                   {{ show.finished }}
                </div>
            </div>
        {% endfor %}
        </div>

            <p>Click <a href="/logout">here</a> to logout.</p>



{% endblock %}